<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <button onclick="toggleReaderMode()" style="margin-left: 20px; font-size: 14px;">
        Reading Mode
      </button>
      <div class="site-info" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
        <div>
          <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          <p class="site-description">{{ site.description }}</p>
        </div>
        <div id="google_translate_element" style="margin-top: 10px;"></div>
      </div>

      <nav style="margin-top: 10px;">
        <a href="{{ site.baseurl }}/about">about</a>
        <a href="{{ site.baseurl }}/news">news</a>
        <a href="{{ site.baseurl }}/research">research</a>
        <a href="{{ site.baseurl }}/publications">publications</a>
        <a href="{{ site.baseurl }}/blog">Clown Network Chronicles🤡🪑</a>
      </nav>
    </header>
  </div>
</div>
